.text_main {
  padding: 90px 170px 0;

  h1 {
    font-family: "Youngserif";
    color: #fefefe;
    font-size: 6.9vw;
    line-height: 6.8vw;
    width: 89%;
    margin: 0;
  }
}

.text_sub {
  padding: 0 170px 0;

  h2 {
    font-size: 61px;
    line-height: 5.41667vw;
    font-family: "Circular-Bold";
  }

  p {
    font-family: "Circle-book";
    font-size: 2.3111vw;
    font-weight: 300;
    line-height: 3.81944vw;
  }
}
