.clients {
  padding: 0 170px 0;

  &_line {
    height: 1px;
    background: #f0f0f01a;
    margin: 90px 0;
  }

  &_wrapper {
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: flex-start;
  }

  &_title {
    h3 {
      font-family: "Circle-book";
      color: #858585;
      font-size: 1.125em;
      margin: 0;
    }
  }

  &_list {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
      font-size: 1.66667vw;
      line-height: 3.33333vw;
    }
  }
}
